body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 38px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: black;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: grey;
}
nav {
  justify-content: flex-end;
}

nav li {
  padding-right: 5px;
  padding-left: 5px;
}
